<div class="container my-5">
    <div class="row">
        <div class="card col-xl-6 col-8 m-auto">
            <div class="card-body">
                <h1 class="title text-center mb-4">Select an option:</h1>
                <div class="row clear d-flex justify-content-around">
                    <button class="btn btn-info menu col-xl-5" routerLink="/list-employees">
                        <i class="fa-solid fa-people-line fa-2xl"></i><br>
                        <h5>Employees</h5>
                    </button>
                    <button class="btn btn-info menu col-xl-5" routerLink="/list-departments">
                        <i class="fa-solid fa-building-user fa-2xl"></i><br>
                        <h5>Departments</h5>
                    </button>
                    <button class="btn btn-info menu col-xl-5" routerLink="/list-projects">
                        <i class="fa-solid fa-diagram-project fa-2xl"></i><br>
                        <h5>Projects</h5>
                    </button>
                    <button class="btn btn-info menu col-xl-5" routerLink="/menu-queries">
                        <i class="fa-solid fa-magnifying-glass fa-2xl"></i><br>
                        <h5>Queries</h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>