<div class="container my-5">
    <div class="row">
        <div class="card col-10 m-auto">
            <div class="card-body">
                <button routerLink="/menu-queries" class="btn btn-light float-end">Go Back</button>
                <h1 class="title text-center mt-2">Dpt. Managers Contact</h1>
                <p class="fs-5 px-4 mt-3"> QUERY 4: Obtains the personal phone number and the worktime of the managers
                    of each department.</p>
                <div class="container mt-4">                   
                    <table class="table table-striped table-hover table-bordered table-sm row-border hover">
                        <thead>
                            <tr>
                                <th scope="col" class="p-2">Department ID</th>
                                <th scope="col" class="p-2">Name</th>
                                <th scope="col" class="p-2">Department Manager</th>
                                <th scope="col" class="p-2">Manager Phone</th>
                                <th scope="col" class="p-2">Work Time</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let result of listResults">
                                <td scope="col" class="p-2 align-middle">{{result._id}}</td>
                                <td scope="col" class="p-2 align-middle">{{result.name}}</td>
                                <td scope="col" class="p-2 align-middle">{{result.manager}}</td>
                                <td scope="col" class="p-2 align-middle">{{result.phone}}</td>
                                <td scope="col">
                                    <tr *ngFor="let time of result.workTime">
                                        <td scope="col" class="p-2">{{time}}</td>
                                    <tr>
                                </td>
                            </tr>                       
                        </tbody>
                    </table>
                    <h5 *ngIf="listResults.length == 0"> This is empty :( </h5>
                </div>
            </div>
        </div>
    </div>
</div>

