<div class="container my-5">
    <div class="row">
        <div class="card col-xl-6 col-8 m-auto">
            <div class="card-body">
                <h1 class="title text-center mb-4">Select an option:</h1>
                <div class="row clear d-flex justify-content-around">
                    <button class="btn btn-info menu col-xl-5" routerLink="/menu-queries/query-one">
                        <h5>Query 1</h5>
                        <p>Departments Performance</p>
                    </button>
                    <button class="btn btn-info menu col-xl-5" routerLink="/menu-queries/query-two">
                        <h5>Query 2</h5>
                        <p>Projects Performance</p>
                    </button>
                    <button class="btn btn-info menu col-xl-5" routerLink="/menu-queries/query-three">
                        <h5>Query 3</h5>
                        <p>Christmas Bonuses</p>
                    </button>
                    <button class="btn btn-info menu col-xl-5" routerLink="/menu-queries/query-four">
                        <h5>Query 4</h5>
                        <p>Dpt. Managers Contact</p>
                    </button>                    
                    <button class="btn btn-info menuback col-xl-11" routerLink="/">
                        <h5 class="m-0">BACK</h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>